<aside class="flex w-56 min-h-full flex-col space-y-0.1 border-r-2 border-gray-200 bg-white p-2">
  <span class="hidden md:p-2"></span>
  <button [routerLink]="['/home']"
    class="flex items-center space-x-1 rounded-md px-2 py-1.5 hover:bg-gray-100 hover:text-blue-600">
    <span class="flex flex-row items-end">
      <mat-icon class="mr-2">home</mat-icon>
      Inicio
    </span>
  </button>
  <button [routerLink]="['/users']"
    class="flex items-center space-x-1 rounded-md px-2 py-1.5 hover:bg-gray-100 hover:text-blue-600">
    <span class="flex flex-row items-end">
      <mat-icon class="mr-2">person</mat-icon>
      Usuarios
    </span>
  </button>
  <button [routerLink]="['/testigos']"
  class="flex items-center space-x-1 rounded-md px-2 py-1.5 hover:bg-gray-100 hover:text-blue-600">
  <span class="flex flex-row items-end">
    <mat-icon class="mr-2">people</mat-icon>
    Testigos
  </span>
</button>
<button [routerLink]="['/estadios/list']"
  class="flex items-center space-x-1 rounded-md px-2 py-1.5 hover:bg-gray-100 hover:text-blue-600">
  <span class="flex flex-row items-end">
    <mat-icon class="mr-2">stadium</mat-icon>
    Estadios
  </span>
</button>
</aside>
