<div class="mt-4 mb-4">
  <div class="flex flex-row justify-between ">
    <p class="text-lg font-bold">Usuarios</p>
  </div>

  <button mat-raised-button style="background-color: #636e72; color: #FFFFFF;" [routerLink]="['/users/create']" class=" my-2 p-4">Crear Usuario</button>


  <mat-table [dataSource]="users">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.apellido }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.role}}</mat-cell>
    </ng-container>

    <!-- Otros campos -->

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="updateUser(user.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteUser(user.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>
