<h2>Crear Infraccion</h2>

<mat-card>
  <mat-card-content>

    <form class="h-full grid grid-cols-1 md:grid-cols-2 " [formGroup]="infraccionForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Fecha</mat-label>
        <input matInput type="text" required formControlName="fecha" />
        <mat-error *ngIf="isValidField('fecha')"> {{ getFieldError('fecha') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Hora</mat-label>
        <input matInput type="text" required formControlName="hora" />
        <mat-error *ngIf="isValidField('hora')"> {{ getFieldError('hora') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Seccion</mat-label>
        <input matInput type="text" required formControlName="seccion" />
        <mat-error *ngIf="isValidField('seccion')"> {{ getFieldError('seccion') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Fila</mat-label>
        <input matInput type="text" required formControlName="fila" />
        <mat-error *ngIf="isValidField('fila')"> {{ getFieldError('fila') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Asiento</mat-label>
        <input matInput type="text" required formControlName="asiento" />
        <mat-error *ngIf="isValidField('asiento')"> {{ getFieldError('asiento') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Seleccione un estadio</mat-label>
        <mat-select [(value)]="estadioIdSelected">
          <mat-option *ngFor="let estadio of estadios" value={{estadio.id}}>{{estadio.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Descripcion..." required formControlName="descripcion"></textarea>
        <mat-error *ngIf="isValidField('descripcion')"> {{ getFieldError('descripcion') }} </mat-error>
      </mat-form-field>



      <span class="col-span-1"></span>
      <span class="col-span-1"></span>

      <div class="flex w-full justify-content-between">
        <button mat-flat-button color="primary" type="submit" [disabled]="!infraccionForm.valid">
          <mat-icon>save</mat-icon>
          Guardar
        </button>

        <button mat-flat-button type="submit" (click)="cancelar()" style="background-color: #e0d3d3;" class="ml-5">
          <mat-icon>close</mat-icon>
          Cancelar
        </button>

      </div>
    </form>
  </mat-card-content>
</mat-card>
