<h2>Crear Testigo</h2>
<div>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="m-1 p-2">
    <mat-grid-list cols="1" rowHeight="70px" [style.width]="'20%'">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" placeholder="Nombre">
          <mat-error *ngIf="createForm.controls['nombre'].invalid && createForm.controls['nombre'].touched">
            El nombre es requerido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" placeholder="Apellido">
          <mat-error *ngIf="createForm.controls['apellido'].invalid && createForm.controls['apellido'].touched">
            El apellido es requerido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="telefono" placeholder="Telefono">
          <mat-error *ngIf="createForm.controls['telefono'].invalid && createForm.controls['telefono'].touched">
            El telfono es requerido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>CI</mat-label>
          <input matInput formControlName="cedulaIdentidad" type="cedulaIdentidad" placeholder="CI">
          <mat-error *ngIf="createForm.controls['cedulaIdentidad'].invalid && createForm.controls['cedulaIdentidad'].touched">
            El ci es requerido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Nacionalidad</mat-label>
          <input matInput formControlName="nacionalidad" type="nacionalidad" placeholder="Nacionalidad">
          <mat-error *ngIf="createForm.controls['nacionalidad'].invalid && createForm.controls['nacionalidad'].touched">
            La nacionalidad es requerido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo" placeholder="Seleccionar el sexo">
            <mat-option *ngFor="let sexo of sexos" [value]="sexo">
              {{ sexo }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createForm.controls['sexo'].invalid && createForm.controls['sexo'].touched">
            El sexo es requerido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Infraccion</mat-label>
          <mat-select formControlName="infraccion" placeholder="Seleccionar la infraccion">
            <mat-option *ngFor="let infraccion of infracciones" [value]="infraccion.id">
              {{ infraccion.id }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createForm.controls['infraccion'].invalid && createForm.controls['sexo'].touched">
            La infraccion es requerida
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <button mat-raised-button style="background-color: #636e72; color: #FFFFFF;" type="submit" [disabled]="createForm.invalid" class="m-2">
      Guardar
    </button>
    <button mat-raised-button color="cancel" type="submit" [routerLink]="['/testigos']" >
      Cancelar
    </button>
  </form>
</div>

