<h2>Crear Infractor</h2>

<mat-card>
  <mat-card-content>

    <form class="h-full grid grid-cols-1 md:grid-cols-2 " [formGroup]="infractorForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>nombre</mat-label>
        <input matInput type="text" required formControlName="nombre" />
        <mat-error *ngIf="isValidField('nombre')"> {{ getFieldError('nombre') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>apellido</mat-label>
        <input matInput type="text" required formControlName="apellido" />
        <mat-error *ngIf="isValidField('apellido')"> {{ getFieldError('apellido') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Cedula Identidad</mat-label>
        <input matInput type="text" required formControlName="cedulaIdentidad" />
        <mat-error *ngIf="isValidField('cedulaIdentidad')"> {{ getFieldError('cedulaIdentidad') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>nacionalidad</mat-label>
        <input matInput type="text" required formControlName="nacionalidad" />
        <mat-error *ngIf="isValidField('nacionalidad')"> {{ getFieldError('nacionalidad') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" required formControlName="fechaNacimiento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6 px-1 py-1">
        <mat-label>Seleccione un sexo</mat-label>
        <mat-select [(value)]="sexoSelected" formControlName="sexo">
          <mat-option *ngFor="let sexo of sexos" value={{sexo}}>{{sexo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-span-1 md:col-span-2 px-1 py-1">
        <mat-label>Otros</mat-label>
        <input matInput type="text" required formControlName="otros" />
        <mat-error *ngIf="isValidField('otros')"> {{ getFieldError('otros') }} </mat-error>
      </mat-form-field>

      <span class="col-span-1"></span>

      <div class="flex w-full justify-content-between">
        <button mat-flat-button color="primary" type="submit" [disabled]="!infractorForm.valid">
          <mat-icon>save</mat-icon>
          Guardar
        </button>

        <button mat-flat-button  type="submit" (click)="cancelar()" style="background-color: #e0d3d3;" class="ml-5">
          <mat-icon>close</mat-icon>
          Cancelar
        </button>

      </div>
    </form>
  </mat-card-content>
</mat-card>

