<div class="mt-4 mb-4">
  <div class="flex flex-row justify-between ">
    <p class="text-lg font-bold">Estadios</p>
  </div>

  <button mat-raised-button style="background-color: #636e72; color: #FFFFFF;" (click)="createEstadio()"
    class=" my-2 p-4">Crear Estadio</button>

  <mat-table [dataSource]="estadios">

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let estadio">{{ estadio.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="departamento">
      <mat-header-cell *matHeaderCellDef>Departamento</mat-header-cell>
      <mat-cell *matCellDef="let estadio">{{ estadio.departamento }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ciudad">
      <mat-header-cell *matHeaderCellDef>Ciudad</mat-header-cell>
      <mat-cell *matCellDef="let estadio">{{ estadio.ciudad }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef>Direccion</mat-header-cell>
      <mat-cell *matCellDef="let estadio">{{ estadio.direccion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let estadio">
        <button mat-icon-button (click)="updateEstadio(estadio.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteEstadio(estadio.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
